{% extends 'main.html' %} {% block body_block %} {% load static %}
<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100"
        src="{%static '/homepage/images/Sample1.jpg' %}"
        alt="Sample1"
      />
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="{% static '/homepage/images/Sample2.jpg' %}"
        alt="Sample2"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div
  style="
    background-color: beige;
    width: 100%;
    text-align: center;
    height: 50px;
    margin: 10px;
  "
>
  <h5>We are Providing 50% Off on all the products</h5>
</div>

<div class="row">
  {% for w_item in watches_t %}

  <!-- Card Section  -->
  <div class="card" style="width: 19rem; margin: 5px">
    <img src="{{w_item.image.url}}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{w_item.name}}</h5>
      <p class="card-text">{{w_item.description}}</p>
      <p class="card-text">{{w_item.price}}</p>
      <a href="{% url 'product' id=w_item.id %}" class="btn btn-primary btnhome">View</a>
      <a href="{% url 'addtowish' id=w_item.id %}" class="btn btn-primary btnhome" style="margin-left: 5px;">+ Wishlist</a>
      <a href="{% url 'addtocart' id=w_item.id %}" class="btn btn-primary c-button">+ Cart</a>

    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
